<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.Launch_Browser"></class>
      <class name="TestNG.LoginTest">
      <methods>
      
      <include name="CheckTitle"></include>
      <include name="Forget_Pass"></include>
      <include name="Login"></include>
      
      </methods>

      </class>
      <class name="TestNG.DashboardTest">
      <methods>
      <include name="Logout"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
